<launch>
	<!-- All parameters are defined as private to avoid confusion -->

	<node name="m_1" pkg="wheel" type="sending" >
		<param name="motor" value="motor_1"/>
	</node>

	
	<node name="m_2" pkg="wheel" type="sending" >
		<param name="motor" value="motor_2"/>
	</node>
	
	<node name="m_3" pkg="wheel" type="sending" >
		<param name="motor" value="motor_3" />
	</node>
	
	<node name="m_4" pkg="wheel" type="sending" >
		<param name="motor" value="motor_4" />
	</node>
	
	<node name="m_5" pkg="wheel" type="sending" >
		<param name="motor" value="motor_5" />
	</node>
	
	<node name="m_6" pkg="wheel" type="sending" >
		<param name="motor" value="motor_6" />
	</node>

</launch>
