<launch>
	<!-- All parameters are defined as private to avoid confusion -->

	<node name="Motor1" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="1"/>
		<param name="~port" value="/dev/ttyUSB3"/>
	</node>
	<node name="Motor2" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="2"/>
		<param name="~port" value="/dev/ttyUSB4"/>
	</node>
	<node name="Motor3" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="3"/>
		<param name="~port" value="/dev/ttyUSB5"/>
	</node>

</launch>