<launch>
	<!-- All parameters are defined as private to avoid confusion -->

	<node name="M1" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="1"/>
		<param name="~port" value="/dev/ttyUSB0"/>
	</node>
	<node name="M2" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="2"/>
		<param name="~port" value="/dev/ttyUSB1"/>
	</node>
	<node name="M3" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="3"/>
		<param name="~port" value="/dev/ttyUSB2"/>
	</node>
    <node name="M4" pkg="rover" type="USBMotors.py" >
		<param name="~motor" value="3"/>
		<param name="~port" value="/dev/ttyUSB3"/>
	</node>

</launch>